[2012-08-11 16:31] nurpax opened #1 "Review & test Time module for correctness on sqlite"
Module Database.SQLite.Simple.Time is copy&pasted directly from postgresql-simple (with comments & all).  There are a lot of references to postgresql implementation of dates, times and timezones.  Time is a complicated matter, so the module probably doesn't work as is on sqlite.

Should write tests & review the code for sqlite.

[2012-08-11 16:33] nurpax opened #2 "Update documentation & check that haddock docs come out right"
Try building docs for sqlite-simple with haddock and review that the documentation is generated similar to postgresql-simple/mysql-simple.  The original documents are high quality, so better re-use those than rewrite any parts.

[2012-08-11 16:52] nurpax opened #3 "straighten out types for FromRow/FromField to avoid unnecessary bytestring conversions"
See the source code for [fieldWith](https://github.com/nurpax/sqlite-simple/blob/master/Database/SQLite/Simple/FromRow.hs#L67)

There's a lot of unnecessary type conversion going on there.  The use of sqldataToByteString for fields is just a work-around to get types to match and things compiling.  However, this is an unnecessary conversion that's not in most cases needed.

Instead, it'd be better

[2012-08-11 18:16] nurpax opened #4 "extend FromField instances to support more types"
[FromField.hs](https://github.com/nurpax/sqlite-simple/blob/master/Database/SQLite/Simple/FromField.hs) has only the bare minimum FromField support.

This is not good enough for non-toy use.

Should extend support for more types.

This bug depends on issue #3

[2012-08-11 18:21] nurpax opened #5 "Use bound parameters instead of generating SQL in formatQuery"
Currently query parameters are inserted into the query strings using Haskell code.

This is error prone and non-idiomatic on sqlite.  The correct way to escape parameters to sqlite is to use bound parameters with prepared statements.

The code for formatQuery should be rewritten to use binds instead of generating SQL.

[2012-08-12 08:07] nurpax opened #6 "'In' arguments are not supported"
SQL parameter expansion for cases like

select \* from whatever where id in ?" (In [3,4,5])

is not currently supported.

The reason being that it's not easily (or at all?) supported by sqlite3's prepared statement bound parameters.

To support this, would need to bring back query string parsing and string substitution.

Filing this bug about this missing feature in the hope that someone has an id

[2012-08-14 19:21] #3 closed, assigned to nobody

[2012-08-14 19:22] #5 closed, assigned to nobody

[2012-08-14 19:54] #4 closed, assigned to nobody

[2012-08-14 20:25] #2 closed, assigned to nobody

[2012-08-15 19:55] nurpax opened #7 "Take min package versions from HP"
Pick minimum build-depends from the latest Haskell platform. Perhaps this will make it more probable that the package compiles on all setups.

[2012-08-19 10:15] #7 closed, assigned to nobody

[2012-08-19 16:19] nurpax opened #8 "Database.SQLite.Simple should re-export SQLData"
Since ToField/FromField use SQLData, it would probably be a good idea to export SQLData from the Simple main module so that users of this library don't need to separately import Database.SQLite3.

[2012-08-20 14:23] nurpax opened #9 "Database.SQLite.Simple needs to re-export Query"
doing

query_ conn (Query q) where
 q = T.concat [..]

requires

import Database.SQLite.Simple.Types

It'd be appropriate to export the Query type from Database.SQLite.Simple.

[2012-08-20 17:35] nurpax opened #10 "consider re-exporting FromRow instances"
In order to do basic "query_ conn" selects, one currently needs the following imports:

import Database.SQLite.Simple
import Database.SQLite.Simple.FromRow

I suppose there's some re-exports missing from the top Simple module.

[2012-08-20 19:58] #9 closed, assigned to nobody

[2012-08-20 19:58] #10 closed, assigned to nobody

[2012-08-20 21:03] nurpax opened #11 "handle fractional seconds in UTCTime parser"
A timestamp like 2012-08-17 08:00:03.256887 will make sqlite-simple UTCTime parser barf on a ConversionFailed error.

This needs to be handled with a fractional part parser.

Such inputs don't currently get generated by Haskell -> SQlite conversions, but it's possible to encounter such times in sql database generated with other languages, like Python.

[2012-08-20 21:29] #11 closed, assigned to nobody

[2012-08-24 09:40] nurpax opened #12 "db -> UTCTime rounding causes SELECT to find inserted items"
See commit 93fda30db1e559281 for a test case that fails.

SQLite stores timestamps as strings and uses string compare in SELECT.  String comparing a timestamp with the fractional part of ".401420" to ".40142" (formatted from UTCTime in Haskell) means we don't get a match, even though the two timestamps are equal.

Not sure how this should be fixed.

[2012-08-24 13:17] #1 closed, assigned to nobody

[2012-09-20 23:35] nurpax opened #13 "expose last_insert_rowid via sqlite-simple"
Being able to get the last inserted row id via a function call would be more convenient than forcing users to do something like:

[code]

[2012-09-23 09:25] #8 closed, assigned to nobody

[2012-10-01 20:46] nurpax opened #14 "Support prepared statements"
SQLite prepared statements are used inside the implementation of sqlite-simple.  It'd be nice to expose a safe interface that'd enable sqlite-simple users to do the same.

This can be handy for doing some type of sub-query type querying in Haskell.  Say something like this:

[code]

where queryComments would perform more SQL queries for each item in 'notes'.

These types of queries may often be be

[2012-10-01 20:51] nurpax opened #15 "Implement a simple benchmark project"
To make performance-related design decisions, we really need some measured performance data.

A benchmark application should be implemented in both C and Haskell.  The both should work exactly the same way with the same data.  The C variant can have multiple modes to use features that sqlite-simple doesn't (yet) expose, so that their performance impact can be measured.  One such feature would be p

[2012-12-06 18:59] #15 closed, assigned to nobody

[2012-12-06 19:06] nurpax opened #16 "avoid temporary list allocations by merging stepStmt and finishQuery"
There's probably some fairly clean way of merging finishQuery and stepStmt.  This would avoid allocating a full list once for SQLData elements in stepStmt followed by a conversion to result data in finishQuery.  I would imagine both of these lists actually end up being in memory at the same time.

Note that there's a way to read the # of columns in the result set of a prepared statement. (sqlite3_

[2012-12-17 20:47] nurpax opened #20 "use column_database_name etc accessor functions for better error messages"
When hitting conversion errors in type conversion in row/field parsers, the function in:

http://www.sqlite.org/c3ref/column_database_name.html

might be useful for more descriptive error message - it'd be helpful to show the name of the offending table and column that was erroneous.

[2012-12-25 22:17] #16 closed, assigned to nobody

[2013-01-01 18:38] nurpax opened #21 "support SQL statement tracing"
void _sqlite3_trace(sqlite3_, void(_xTrace)(void_,const char_), void_);

[2013-01-12 09:41] nurpax opened #23 "get rid of "length" call in fieldWith"
[code]

Should store # of columns once per query and re-use that.  Asking for # of columns on every row will cost performance as this needs to walk to the end of the list to get its length.

[2013-01-12 10:28] #21 closed, assigned to nobody

[2013-01-12 10:50] #13 closed, assigned to nobody

[2013-02-19 20:55] IreneKnapp opened #24 "Re-export underlying direct-sqlite Database instead of wrapping it"
So, I'm pondering an addition to direct-sqlite.  Specifically, I'd like to wrap the online-backup API that SQLite provides.  I realized when I started thinking about how to integrate this into my code that if I've opened the connection with sqlite-simple, there's no way to use the lower-level primitives on it, and vice-versa, there's no way to open in low-level mode (perhaps to do some schema init

[2013-02-22 19:51] #24 closed, assigned to nobody

[2013-03-17 00:40] singpolyma opened #25 "How should LIKE queries be formatted?"
[code]

Does not work.  Is there a nice way to get this behavior?  I could do this, but would like to avoid it:

[code]

[2013-07-06 14:41] singpolyma opened #27 "MonadPlus instance for RowParser"
Equivalent to the Alternative instance.

[2013-07-06 16:19] singpolyma opened #28 "Threadsafety?"
Are the sqlite3 connections created by sqlite-simple threadsafe?  That is, can I share a connection across threads safely?

[2013-07-06 16:30] #28 closed, assigned to nobody

[2013-08-17 15:13] #27 closed, assigned to nobody

[2013-10-27 12:14] snoyberg opened #30 "Test suite missing DirectSqlite module"
Discovered when doing a Stackage build, but reproducible with a simple `cabal install sqlite-simple --enable-tests`:

[code]

[2013-10-27 13:19] #30 closed, assigned to nobody

[2013-10-30 17:25] #25 closed, assigned to nobody

[2013-12-07 17:35] singpolyma opened #31 "fieldWIthParser helper"
If I have an existing parser, it would be nice to have an easy way to use that to parse database contents, like maybe:

[code]

[2014-01-20 17:11] paul-r-ml opened #32 "Provide a way to create databases"
Hi,

I'm using sqlite-simple in a software that dynamically creates databases (one database per user project). I need to create a new sqlite database on the fly when user create a new project. From the sqlite docs, a regular call to sqlite_create should work. However, at the moment with such a call I get "unable to open database file".

Is this a limitation of the library or am I misusing it ? Tha

[2014-01-21 11:22] #32 closed, assigned to nobody

[2014-01-31 14:46] paul-r-ml opened #33 "simple 'transaction' combinator"
Hi nurpax,

maybe you could add to the base API a simple 'transaction' combinator that run the parameter bloc within a transaction. I use that almost everywhere in my code. Something like :

[code]

Regards

[2014-02-02 17:27] nurpax opened #34 "add queryWith and queryWith_ helper functions"
postgresql-simple has a couple of additional query functions:

[code]

These seem helpful, so filing this bug to consider some day adding these into sqlite-simple.

[2014-02-09 18:41] #12 closed, assigned to nobody

[2014-02-09 18:49] #23 closed, assigned to nobody

[2014-03-12 09:20] kimmok opened #36 "Sqlite-simple fails to install with "Ambiguous occurrence `catch' ""
Software no work. Do the needful.

~/work/hswtrack$ cabal install
Resolving dependencies...
Configuring sqlite-simple-0.4.5.1...
Building sqlite-simple-0.4.5.1...
Preprocessing library sqlite-simple-0.4.5.1...
[ 1 of 10] Compiling Database.SQLite.Simple.Time.Implementation ( Database/SQLite/Simple/Time/Implementation.hs, dist/build/Database/SQLite/Simple/Time/Implementation.o )
[ 2 of 10] Compilin

[2014-03-13 01:05] singpolyma opened #37 "Cannot store whole numbers in decimal columns"
code:

[code]

and then:

[code]

[2014-03-13 14:09] #36 closed, assigned to nobody

[2014-03-17 19:18] #37 closed, assigned to nobody

[2014-04-29 15:20] #33 closed, assigned to nobody

[2014-06-25 19:22] tko opened #40 "Parameter placeholder not recognized"
I'm trying to run a query that is essentially `select * from t where c like '%?%'` where the `?` is provided as argument. However the placeholder isn't recognized and I just get a runtime error `SQL query contains 0 params, but 1 arguments given` instead.

It's unclear what the rules about placeholder really are, but it seems to work better when written as `.. like ('%' || ? || '%')` but a somewha

[2015-01-30 14:36] paul-r-ml opened #41 "FromRow : match field with column name rather than with position"
Hi Nurpax,

my current software uses large tables, and therefore FromRow instances are getting a bit hard to manage, with all these "field" that I must count.
I think it would be clearer if we had a "fieldNamed :: FromField a => String -> RowParser a" combinator, allowing me to match column by name rather than by its position in a request.

What do you think about that ?

Cheers,

[2015-03-04 06:02] nurpax commented on #41
Hi @paul-r-ml, sorry for taking so long to reply, I was on holiday w/o access to a desktop machine.

I'm not sure this is something I'd like to add.  I understand that this becomes tedious with a large number of result fields..  But fieldNamed feels like moving a part of the tuple selector from the SELECT a,b,c clause into the RowParser.  A naive implementation (looking up a field based on the col

[2015-06-14 14:07] nurpax commented on #34
queryWith_ was added in https://github.com/nurpax/sqlite-simple/pull/43.  Should probably extend to queryWith too.

[2015-06-14 14:08] nurpax commented on #31
queryWith_ was contributed recently in https://github.com/nurpax/sqlite-simple/pull/43.

[2015-07-12 20:47] tomjaguarpaw opened #44 "execute only executes first statement"
The [documentation for `execute`](http://hackage.haskell.org/package/sqlite-simple-0.4.9.0/docs/Database-SQLite-Simple.html#v:execute) says "Execute an INSERT, UPDATE, or other SQL query that is not expected to return results.".  However, ultimately `execute` calls `Database.SQLite3.prepare` [whose documentation](http://hackage.haskell.org/package/direct-sqlite-2.3.15/docs/Database-SQLite3.html#v:

[2015-07-13 07:13] nurpax commented on #44
Yes, the sqlite-simple `execute` is not meant to be the same as `sqlite3_exec()`.  I didn't verify this but AFAIK bound parameters (which `execute` uses) are only supported with prepared statements, thus prepare/step is necessary and using `sqlite3_exec` is not an option as it would break query params.  I guess it can be argued that `execute_` could still call `sqlite3_exec` but I want `execute` a

[2015-07-13 17:48] tomjaguarpaw commented on #44
Specifically it's worth pointing out the behavior differs from the `postgresql-simple` function of the same name, which is originally why I got caught out.

[2016-04-13 02:15] gasi commented on #28
For future reference: Excellent overview of attempting to use SQLite with multiple threads: https://github.com/nurpax/sqlite-simple/issues/28

[2016-06-23 21:43] Shimuuar opened #48 "Literal overflow in tests"
Tests for parameter conversion have some strange statements:

[code]

But those tests are literally same since `(257 :: Int8) == (1 :: int8)`. So it's not clear what exactly they test

[code]

[2016-07-03 13:26] Shou opened #49 "ToField instance for ()"
I think it'd make sense to have a `null` instance for `()` for convenience, despite `Null` existing.

[code]

[2016-08-24 07:03] relrod commented on #44
Is there a workaround to this, if I have, for example, a .sql file with several queries and I want to run it from Haskell? Is the workaround to import .Internal, get a connection handle, and drop to direct-sqlite?

[2016-08-24 08:13] nurpax commented on #44
That'd be a reasonable work-around.  I think it'd be fine to also change `execute_` to use sqlite3_exec and document that this variant supports multiple SQL statements.  I'd be happy to review and merge a PR that does this.

As I mentioned in https://github.com/nurpax/sqlite-simple/issues/44#issuecomment-120834848, sqlite-simple does not look into or modify the input query string at all, but passe

[2016-11-26 17:48] ip1981 opened #50 "withStatement & withBind aren't quite useful"
`withStatement` & `withBind` aren't quite useful if you want to do a bunch of `INSERTS`.

I think I can use `nextRow` and discard the result, but this require specific type, e. g. `IO (Maybe [Int])`.

It would be great if `Base.step` were exported somehow through the `Statement Base.Statement` wrapper.

I _could_ use `Base.step`, If I could get Base.Statement from Statement. But `Statement` constr

[2016-11-30 14:26] supki commented on #34
Hey, is there any ETA on adding this?

[2016-11-30 15:31] nurpax commented on #34
@supki No ETA really, but I'd be happy to look at a pull request for this.  queryWith_ is already in v0.4.9, so only queryWith is missing.

[2016-11-30 16:18] nurpax commented on #34
It was easy enough to implement so I went ahead and added it.  Will be on Hackage shortly as v0.4.12.0.

[2016-11-30 16:18] #34 closed

[2016-11-30 16:26] nurpax commented on #50
I recently added executeMany which can be used for multi-inserts.  Does that fit the bill or do you think we need a similar API to use with statements?

[2016-11-30 17:06] ip1981 commented on #50
Yeah... it's close, but not enough. In one of my use cases, number of rows is unknown: https://github.com/ip1981/sproxy2/blob/a3b5b7ac059e473e10749591c11aee97482b88d1/src/Sproxy/Server/DB.hs#L137-L139. It smells like conduit with PostgreSQL query as a producer :)

[2016-11-30 17:32] supki commented on #34
Thanks!

[2016-12-27 20:48] nurpax commented on #50
Hi @ip1981 Sorry for taking so long to reply on this.

I wonder if it'd be enough to add a FromRow instance for ().  So you could do

[code]

I think this would be fairly orthogonal to existing features.  E.g., there's also a ToRow instance for () that converts the unit value to an empty list.

If we did this, the returned value from the statement would be error checked against an empty list.  E.g

[2016-12-27 21:43] nurpax commented on #50
Actually, that didn't work out so well.  `nextRow` always returns `Nothing` with inserts (since there are no rows to return).

Existing code:
[code]

I guess I could either just expose `step` as is, or name it something like `nextRow_` with an IO () return type.

[2016-12-27 22:02] nurpax commented on #50
I played with the unit FromRow instance but it might be kind of a bad idea.

You can see the code here: https://github.com/nurpax/sqlite-simple/compare/unit-nextrow

With this feature, it still wouldn't be obvious how to use nextRow with INSERTs (you'd need come up with the idea to use FromRow () and/or read the docs quite a bit).  I think a more explicit API for inserts would be better.  I'm not

[2016-12-27 22:43] #14 closed

[2017-01-30 00:57] mbucc opened #52 "begin immediate transaction"
Is there a way I can begin an immediate transaction?

It has nice semantics of telling sqlite3 to start blocking other writes immediately, instead of having to wait for an update or insert (but you probably knew that).  :)

I searched code and issues for the string immediate and came up empty.

Would you consider adding support for that?

[2017-02-09 23:39] mbucc commented on #52
Simple as adding withImmediateTransaction, just like this: https://github.com/nurpax/sqlite-simple/blob/master/Database/SQLite/Simple.hs#L507-L522 ?

[2017-02-22 08:14] #52 closed

[2018-01-03 21:10] mvoidex opened #57 "Incorrect implementation of `withTransaction`?"
[code]

https://github.com/nurpax/sqlite-simple/blob/c2f216aee5f41964e1d5018bdb2c73a3c8de3d2c/Database/SQLite/Simple.hs#L499

The problem is that `commit` can throw (synchronous) exception itself (`ErrorBusy` and `ErrorLocked`) leaving us inside transaction. But at least in case of `ErrorBusy` it can be retried.

[code]

[2018-01-19 20:47] merijn opened #58 "Generalise IO signatures (or at least some of them) to MonadIO"
I find myself wanting to stream results from a query using libraries like conduit/pipes, but currently this is rather cumbersome, as the ideal function for this sorta thing `fold` & co, demand a function `a -> row -> IO a` to return an `IO a`. If this was generalised to `MonadIO m => a -> row -> m a` and return "MonadIO m => m a` it would be easy to stream results by, for example, just passing in

[2018-03-20 01:03] jayed opened #59 "executeFile fails when PRAGMA statements added"
I'm super-new to Haskell so I could be missing something obvious. However, adding,
[code]
to a [SQL file](https://github.com/jayed/gogurl/blob/master/db/links.sql) causes my [tests to fail](https://github.com/jayed/gogurl/issues/12). You can see the [Travis run](https://travis-ci.org/jayed/gogurl/builds/355642879).

However, the SQL file runs just fine manually.

[code]

[2018-03-20 01:13] mitchellwrosen commented on #59
I think this may be because you are using `execute_` to run multiple statements, which calls [`prepare`](https://hackage.haskell.org/package/direct-sqlite-2.3.22/docs/Database-SQLite3.html#v:prepare).

From the docs:

[code]

However, I don't see a function offered by `sqlite-simple` that calls [`exec`](https://hackage.haskell.org/package/direct-sqlite-2.3.22/docs/Database-SQLite3.html#v:exec) ins

[2018-03-20 01:58] jayed commented on #59
I don't think this is it. The initial working SQL included 3 statements. 1
CREATE TABLE and 2 CREATE INDEX. Adding the PRAGMAs on top broke it.

On Mon, Mar 19, 2018 at 9:13 PM, Mitchell Rosen <notifications@github.com>
wrote:

--
Jay Edwards | @meangrape | jay@meangrape.com

[2018-03-20 02:03] mitchellwrosen commented on #59
I don't believe the indexes were actually being created. The travis failure shows "no such table `link`" - because a new statement appeared before `CREATE TABLE` - not because parsing the `PRAGMA` failed.

[2018-03-20 02:11] jayed commented on #59
The indexes are being created:
[code]

[2018-03-20 21:07] nurpax commented on #59
@jayed So I guess the problem was that `execute_` only runs a single statement?

This has been reported before https://github.com/nurpax/sqlite-simple/issues/44.  At the very least, the `execute_` docs should be updated.  I'm open to a PR or I might get to it at some point.

[2018-03-20 21:11] nurpax commented on #59
As an additional sqlite-simple debugging tip:

You can make sqlite3 log all the executed SQL statements with:

`setTrace :: Connection -> Maybe (Text -> IO ()) -> IO ()`

[2018-03-21 18:09] jayed commented on #59
Thanks so much! The problem was, indeed, than `execute_` runs a single statement. I'll see about getting a PR together for the docs.

[2018-03-21 18:09] #59 closed

[2018-05-16 09:42] vrom911 opened #62 "Add `FromField` instance for `UUID`"
`postgresql-simple` contains [such instance](https://hackage.haskell.org/package/postgresql-simple-0.5.3.0/docs/Database-PostgreSQL-Simple-FromField.html#t:FromField). It would be really helpful to have it here as well.

[2018-07-27 04:19] ChShersh commented on #6
@nurpax Any news on this? Is it possible to implement something similar to what is done for `postgresql-simple`?

* http://hackage.haskell.org/package/postgresql-simple-0.5.4.0/docs/Database-PostgreSQL-Simple.html#t:In

Ideally with support for named parameters as well.

[2018-07-27 08:05] nurpax commented on #6
No news. The original bug description still stands. IN would require parsing the sql statement and generating a new one. I’m unwilling to do that as the current implementation just passes the original query string down to sqlite. This is very robust as sqlite does all the hardwork.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-27 08:08] nurpax opened #65 "release testing checklist"
add a wiki page with a list of things to manually test

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-27 08:09] #65 closed

[2018-08-02 03:51] ChShersh commented on #44
@nurpax I don't see function that executes multiple SQL statements. Are you still waiting for PR for this feature? As I can see, `execute_` is implemented like this:

https://github.com/nurpax/sqlite-simple/blob/ada45945d14ea8fee59ee3f02860e36b6331f8c9/Database/SQLite/Simple.hs#L380-L384

Am I right that it should use [`exec`](https://hackage.haskell.org/package/direct-sqlite-2.3.23/docs/Database-

[2018-08-15 21:21] flip111 opened #66 "SQLite: server-process-edition"
It can be useful to offer another version of sqlite that works better for multiple processes and concurrent read/write. Read about it here https://sqlite.org/src/artifact/b98409c486d6f028

It's probably possible to just replace the sqlite sources, but it would be nice if this package would have an option to choose which version of sqlite should be loaded.

[2019-01-17 16:33] sigrlami commented on #66
Hi, @flip111. I'll take a look at your idea but our main goal is to maintain backward compatibility for all library users.

[2019-01-17 16:33] sigrlami commented on #62
@vrom911 thanks for reporting. I'll take a look into it.

[2019-01-17 16:47] flip111 commented on #66
Great 😀

On Thu, Jan 17, 2019, 16:33 Sergey Bushnyak <notifications@github.com wrote:

[2019-04-06 11:58] moll commented on #44
For those looking for an example on how to connect to the database and possibly populate it with a schema query in one go:

[code]

[2019-04-25 18:11] GambolingPangolin commented on #57
I'm running into this as well.  AFAIK the recommended way to deal with `SQLITE_BUSY` in multithreaded applications is to retry.  How about adding new combinators `withConnectionRetry`, `withTransactionRetry`, etc. that deal with `SQLITE_BUSY` using an exponential backoff strategy?

I have some code ready to go if the project thinks this is a good idea. =^D

[2019-06-17 14:40] nh2 opened #72 "Dependency blaze-textual may not really be maintained"
Just wanted to let you know that you (and thus those depending on you) depend on `blaze-textual`, which has at least one important correctness bug:

* https://github.com/bos/blaze-textual/issues/11

The last commit in https://github.com/bos/blaze-textual is from July 2015, so it is possible that that isn't maintained any more and that my fix https://github.com/bos/blaze-textual/pull/12 for the abo

[2019-07-05 03:43] t3hmrman opened #73 "Unprepared (non-statement) query usage"
Currently all query functions (`query`, `query_`, `exec` too) use `withStatement`, `prepare`ing a `Statement` before execution, but some queries actually can't do this (and throw an error from SQLite when they do):

[code]

I'm assuming this is because I used `RANDOM()`'s in the query that was attempted to be prepared... When this query is run it spits out an async exception:

[code]

It might be

[2019-07-05 04:23] t3hmrman commented on #73
I think I misunderstood what was going on -- a similar query seems to be working fine, the misuse query might not be from the `RANDOM`

[2019-07-05 04:27] t3hmrman commented on #73
I briefly thought that `RANDOM` wasn't the issue but I think regardless of whether my use was right or wrong this might be worth looking at

[2019-07-05 04:41] #73 closed

[2019-09-11 07:53] phadej opened #74 "Doesn't build with GHC-8.8.1/base-4.13"
[code]

[code]

I also made revisions to affected versions on Hackage

- https://hackage.haskell.org/package/sqlite-simple-0.4.16.0/revisions/
- https://hackage.haskell.org/package/sqlite-simple-0.4.15.0/revisions/

[2019-09-11 08:05] sigrlami commented on #74
@phadej hi, thanks. I'll take a look into it on a weekend, update and publish.

[2019-09-11 08:18] phadej commented on #74
https://gitlab.haskell.org/ghc/ghc/wikis/proposal/monad-fail#adapting-old-code is handy, if you are not familiar with the issue

[2019-09-26 04:08] gwils commented on #74
@sigrlami Have you had a chance to look at this?

[2019-09-28 14:48] phadej opened #76 "servant-jsaddle not buildable with GHC-8.8"
Thus temporarily disabled.

[2019-09-28 14:48] #76 closed

[2019-09-28 14:48] phadej commented on #76
Sorry, completely wrong repository.

[2019-10-29 08:53] howabouthis opened #80 "Add possibility to dynamically choose the table for a query"
As far as I know, there's currently no way to build a query where the value of the FROM clause is a variable. To my understanding, the library relies on the parametered query capabilities of SQLite itself, and SQLite doesn't offer this functionality either.

The problem is that this library strictly forbids building queries by concatenating strings, which is normally a possible way to solve this p

[2019-10-29 16:12] sigrlami commented on #80
@howabouthis can you show an example even in pseudocode?

[2019-10-30 10:40] howabouthis commented on #80
Correct me if I'm wrong, but in the example the table name is statically defined to be "timefract".

I'm trying to have a dynamically changing table name. A simple example of this would be loading data from a table with the name given as a parameter to the program. In my use case the data held in each table is of the same type and format, so I don't need to know which table I'm actually accessing.

[2019-10-30 10:53] nurpax commented on #80
This line is not:

[code]

So something like this should work:

[code]

(Note that query string doesn't use the `String` type but `Text`)

The Query newtype pattern was originally borrowed from `mysql-simple` and `postgresql-simple` -- these libraries use the exact same type.

[2019-10-30 11:14] howabouthis commented on #80
Oh, that works. Thank you!

[2019-10-30 12:30] #80 closed

[2019-12-23 23:32] cjduncana commented on #6
Any news on this front?

[2020-01-28 17:41] jdreaver opened #82 "INSERTs with executeMany should only emit one INSERT query"
Hello!

I noticed today that when I `INSERT` with `executeMany`, there are multiple insert queries instead of a single query. SQLite supports lists of values to insert mutliple rows in a single query. For example:

[code]

`executeMany` does this:

[code]

which of course is less efficient than doing it all in one query.

`postgresql-simple` seems to [know about this](https://hackage.haskell.org/p

[2020-01-28 17:48] sigrlami commented on #82
Hi, yes `insertMany` is a for loop https://github.com/nurpax/sqlite-simple/blob/7ff345f8ed48238a7eb085ecf951f5a994575f95/Database/SQLite/Simple.hs#L324 of simple queries. This will probably improved over next couple releases.

[2020-02-26 12:30] #74 closed

[2020-02-26 22:27] cartazio commented on #57
ouch, this looks important for humane db engineering

is there an active maintainer atm. And or how can perhaps haskell trustees or clc and friends help out?
cc @sclv @bodigrim @emilypi

[2020-02-27 11:27] sigrlami commented on #57
@cartazio I'm active maintainer atm. I'll get to it in next release, handling 8.8 support now.

[2020-02-27 13:22] cartazio commented on #57
Ok cool.  Do let us know how we can help though.  Sqlite simple is a
systematically important package and it always helps to bounce ideas off
other folks for improving engineering :)

On Thu, Feb 27, 2020 at 6:27 AM Sergey Bushnyak <notifications@github.com>
wrote:

[2020-03-02 16:52] fosskers opened #84 "Hackage release does not match repository"
Hi there, [the recent Hackage release](http://hackage.haskell.org/package/sqlite-simple-0.4.17.0/sqlite-simple.cabal) of version `0.4.17.0` does not seem to match what is in this repo, in particular with respect to the bounds for `semigroups` as updated [in this PR](https://github.com/nurpax/sqlite-simple/pull/83/files#diff-07a0b81e86c348bcc1481a911cea0b60). Something may have gone wrong during th

[2020-03-02 17:19] nurpax commented on #84
@sigrlami I wonder if the cabal file’s been edited out of repo in hackage and the changes not brought back to github?

[2020-03-02 17:26] sigrlami commented on #84
@fosskers @nurpax I'll investigate that

[2020-03-02 17:35] sigrlami commented on #84
@fosskers local merge went wrong without any indication. I'll have to re-upload the package with updated bounds, so it will be 0.4.18.0.

[2020-03-07 14:44] exaexa commented on #84
Is it possible that this also affects other files?

In particular, build of 0.4.17.0 from hackage on ghc 8.8.x seems to be failing because of `fail` being defined in Monad and not in MonadFail, which is in fact fixed in git for quite a long time now.

The error:
[code]

Thanks!

[2020-03-07 15:21] fosskers commented on #84
My last PR was supposed to have fixed all that.

[2020-03-07 19:12] sigrlami commented on #84
It's my fault introducing error on silent merge last week.
1) Repo reverted to correct version.
2) version 0.4.17.0 is deprecated
3) new version 0.4.18.0 uploaded and tested with lts-15.1, 15.2 with 8.8.x additionally.

@fosskers @exaexa please verify it's working for you. Extra deps required for `stack.yaml`

[code]

[2020-03-07 23:24] fosskers commented on #84
Thank you kindly, I'll get this confirmed on Monday!

[2020-03-09 16:51] fosskers commented on #84
Yup, looks good! Thank you.

[2020-03-09 16:51] #84 closed

[2020-03-10 09:08] exaexa commented on #84
Confirming, 0.4.18.0 works perfectly.

Thanks!

[2020-04-27 17:35] Shimuuar opened #86 "Consider detecting use of Connection after close"
SQLite's internal `sqlite3` struct is allocated by malloc and freed after database is closed. So any attempt to use database after it's closed results in use after free, malloc's data structures corruption, segfaults and all kind of problems. It would be nice to add some check to convert any such attempt to exceptions.

I ran into this problem when test suite (thankfully not a production) crashed

[2020-04-27 23:31] sigrlami commented on #86
@Shimuuar thanks for the report. I will try to narrow it down and add additional checks.

[2020-04-28 08:15] nurpax commented on #86
Probably should go into direct-sqlite.  I'd maybe just add a "closed" flag in the connection handle, and check that before closing the real handle.

I don't remember how the connection datatype looks like in direct-sqlite, maybe it needs to wrap the actual C sqlite handle.

[2020-04-28 08:45] Shimuuar commented on #86
Connection is just a few layers of newtypes over bare `Ptr` which is malloc'd by sqlite during `open` and freed in `close`

Challenge in adding "closed" flag I think is adding it in the way which doesn't allow for race conditions and is fast at the same time.

[2020-04-28 08:58] nurpax commented on #86
Well, you're supposed to call `close` only once per connection, so I don't see how it could possibly be a perf issue to check if closed is set when closing the underlying connection.

Sure you'll have one indirection to get to the connection, but that really cannot be a problem, given how much sqlite3 calls themselves cost.

Re races: not sure about this.  Seems like normally you wouldn't have two

[2020-04-28 09:37] Shimuuar commented on #86
Every database operation should check whether connection is already closed or not. Otherwise it will start working with already free chunk of memory and _will_ wreak malloc's data structures. Original problem arose because thread was working with database in short window between closing the DB and killing of thread

[2020-04-28 09:49] nurpax commented on #86
Good point. Could the connection have a mutable reference like an IORef maybe that holds the connection, then it'd be set to Nothing on close?  Then every function using the connection would have to first acquire the real connection using some getter function that raises an error if the connection was inexistent?  It might in fact make sense to have this in sqlite-simple to keep direct-sqlite as l

[2020-04-28 10:42] Shimuuar commented on #86
IORef won't give you thread safety. If connection is used in multiple threads it's still possible to get use after free. For example two threads racing
[code]
First thread check flag before it set to "closed" state, but runs query after database is closed. To provide thread safety `MVar (Maybe Ptr)` is needed. But then there's question on granularity of withMVar. Whether it should be used on level

[2020-04-28 11:16] nurpax commented on #86
Yes, I know -- I was just throwing the general pattern here.

Another consideration is what is the right way to use direct-sqlite (and SQLite3!) from multiple threads.  In practice you need to protect your connection with an MVar anyway, or you'll hit those SQLITE_BUSY errors when one or more threads write at concurrently on the same connection.

So probably the MVar shouldn't go into direct-sqlit

[2020-04-28 11:26] sigrlami commented on #86
@nurpax thanks for the hints. I haven't got into details of that, want to reproduce case first, and find if that a typical issue. Are you suggesting it's better to improve documentation on how to use that rather than drastically change API?

[2020-04-28 19:07] Shimuuar commented on #86
`direct-sqlite` is rather thin wrapper over C so it looks fair to just add warning in documentation and let user deal with it. It's in the spirit of C

I think it's possible to make sqlite-simple to track closed database and thread being thread safe without changing API at all. Here is general idea:

[code]

Such change _is_ boilerplate heavy and requires to think when lock is taken to avoid deadl

[2020-07-04 15:12] aryairani commented on #6
Is the fastest way to achieve the lookup in the example to run the query 3 times for each of `[3,4,5]`? Or is there a faster workaround?  P.S. Thanks for this library.

[2020-10-07 14:25] runeksvendsen commented on #57
I'm running into this issue when `withTransaction` throws `ErrorBusy`.

I've tried implementing retrying (see code below), but this results in the error `SQLite3 returned ErrorMisuse while attempting to perform prepare "ROLLBACK TRANSACTION": bad parameter or other API misuse`.

Retry code:

[code]

[2020-10-07 15:01] runeksvendsen commented on #57
I'm seeing a wide range of errors running the above code. Here are the errors I've seen so far (one error per line). Line number two seems most worrisome as it looks like some sort of memory corruption.

[code]

[2020-10-07 15:09] sigrlami commented on #57
@runeksvendsen what version of sqlite3 used?

[2020-10-07 17:24] runeksvendsen commented on #57
I'm not certain how to tell which version is used. I'm on MacOS, and I assume `/usr/lib/libsqlite3.dylib` is used, although I also seem to have an sqlite version installed by Homebrew in `/usr/local/opt/sqlite/lib/libsqlite3.0.dylib`. Here's some info on `/usr/lib/libsqlite3.dylib`:

[code]

and for `/usr/local/opt/sqlite/lib/libsqlite3.0.dylib`:

[code]

Let me know if you need more information.

[2020-10-07 18:19] sigrlami commented on #57
@runeksvendsen ok, I'll check on Mac additionally

[2020-11-11 21:03] kmicklas commented on #62
Postgres supports UUIDs as a native type, so there is a canonical encoding. SQLite doesn't, so we'd have to decide whether to encode them via the text representation of more compactly as binary blobs. Neither way is going to be best for all use cases.

[2021-02-09 14:44] BrianHicks opened #91 "is it possible to substitute an array into an `IN (?)`"
I have a query that looks like:

[code]

I'm trying to port this code to sqlite-simple, but I can't find a way to provide an array to be substituted into the `(?)` above—I've tried providing it directly, but I don't see any typeclass instances for arrays. Is there something simple I'm just missing here?

[2021-03-22 23:14] thomasjm commented on #57
@runeksvendsen the reason you're seeing "cannot start a transaction within a transaction" is because of the nature of this issue -- when the `commit` at the end of `withTransaction` throws an exception, you end up with the transaction left open on that connection. Then a subsequent retry tries to do a `BEGIN` on same connection and it blows up.

You can't fix this by wrapping `withTransaction` in

[2021-04-04 17:35] erictapen opened #93 "`fold_` in parallel"
What would be a good way to run expensive computations in a `fold_` in parallel? So we can process multiple rows at once, but still run in constant time?

[code]

If we assume `Semigroup a => a`, this should be possible, but I don't know how to express it in ideomatic Haskell.

[2021-04-05 20:57] cideM commented on #91
Same problem, the part about `In` was removed from the SQLite docs and I can't find any mention of it in code so I guess this was just never implemented :(

[2021-04-05 21:54] nurpax commented on #91
I don’t think sqlite parameter substitution supports this. When I wrote the code, I only added arg substitution support for things that sqlite supports natively. This way the SQL query string can also be directly passed down without modifying or parsing it in Haskell. This was an important design principle for me. (I don’t work on this library anymore and have given up maintainership but thought I

[2021-04-09 05:51] aryairani commented on #49
What about `Nothing`?

[2021-04-20 00:06] aryairani opened #94 "Nondeterministic `ErrorMisuse` on multiple runs of the same application test"
I'm not sure where to begin with requesting help with this.  I have an application and unit tests that I've just written to use sqlite-simple, but on some runs I get `ErrorMisuse`.

**From a successful run:**

Sqlite's debug output (`Sqlite.setTrace conn (Just $ traceM . Text.unpack)`):
[code]
My debug output:
[code]

**From a failing run:**

Sqlite debug output: (none)
My debug output:
[code]

I

[2021-04-21 07:57] #94 closed

[2021-06-19 16:39] danwdart commented on #58
Love it. Any progress?

[2021-06-29 19:36] danwdart opened #95 "Please release version 0.4.18.1 to Hackage"
It would be really nice to be able to auto-derive these instances just like I can for `ToJSON`/`FromJSON` in `aeson`.

[2021-06-29 19:41] danwdart opened #96 "Insert/Update a whole row using `ToRow` instance"
Is there a way to say `INSERT INTO table_name (something) values (something)` or `UPDATE table_name SET a = "b", c = "d"`, etc., using the `ToRow` instance to automatically fill in these fields for me?

Otherwise I would have to have a super long convoluted API call with all the fields being specific. Maybe I'm missing something in the instances, but this isn't in any examples, so I'm not sure if

[2021-06-29 21:21] danwdart commented on #96
At the moment, for `INSERT`, I have this very dodgy code which will break as soon as the column ordering isn't the same as in the ToRow instance:

[code]

Ugh. There ought to be a way to grab the correct field names and do a proper SQL `SET` instead of using `VALUES`.

[2021-06-30 07:54] danwdart commented on #96
This might be fixable with the help of #95 as I'm now investigating getting field names which needs `Generic`.

[2021-06-30 07:57] danwdart opened #97 "Is this repository still active?"
I notice a whole lot of reasonable looking pull requests, some of which haven't been commented on, and wondering if the repo is still alive.

If it is, hello, please let me know.

If it isn't, then I could take it over if people want.

[2021-06-30 08:06] danwdart commented on #95
Durr, it seems that this exists in the repository on "version" 0.4.18.1, but that this is not tagged, and only 0.4.16.0 is tagged on GitHub and only 0.4.18.0 is released to Hackage, not 0.4.18.1. So it's not quite the same as #84, it's a new issue that 0.4.18.1 isn't in Hackage whilst 0.4.18.0 is.

[2021-06-30 08:06] danwdart commented on #95
Changed title accordingly.

[2021-06-30 08:07] danwdart commented on #96
This should be easier to work with now that `Generic` instances exist on 0.4.18.1. I'll take the code from GitHub instead of Hackage for now until #95 is released.

[2021-07-14 16:45] goertzenator opened #98 "`Text` won't round-trip for integer values"
When saving a `Text` containing an integer (ie, `mytxt = "200"`) to a field in a table, reading the `Text` back will produce the following error:

[code]

To troubleshoot this I read the problem field back as `SQLData` and got `SQLInteger 200`... so `Text`s that look like integers get saved as integers, and `FromField Text` cannot handle this.

This is a nasty bug: consider an existing application

[2021-07-14 19:22] goertzenator commented on #98
Here's a patch I'm using to cope with a database that has already been poisoned with Integer values in what is supposed to be a text column.

https://github.com/goertzenator/sqlite-simple/commit/016f02bb88a5b06482b3246b3a2ec02ba13cf0e4

[2021-07-14 19:31] goertzenator commented on #97
I think this package is important and would love to see it maintained a little more than it currently is.

[2021-07-14 21:00] sigrlami commented on #98
@goertzenator can you make a PR? I'll test it over the weekend

[2021-07-16 09:39] danwdart commented on #97
I have asked @nurpax on email if they are still interested, or would like me to do it.

[2021-08-02 11:09] sigrlami commented on #95
@danwdart I'm working on a new release schedule, there are many updates long awaited. This will be included

[2021-08-02 11:24] danwdart commented on #95
That's super good to hear. Thanks!

[2021-08-17 08:23] fendor commented on #72
Sister-projects such as mysql-simple resolved this issue by introducing a shim: https://github.com/paul-rouse/mysql-simple/pull/51

Any interest in a similar solution?

[2021-09-26 14:37] robinp commented on #91
Didn't try in the end, but if you run into this, can be worked around with loading stuff into a temporary table (don't forget to start a transaction to avoid weird races):

[code]

[2022-01-22 22:03] kmicklas commented on #97
Any update on this? I think this is an important package in the Haskell ecosystem and it would be great to have active maintenance.

[2022-01-24 13:53] runeksvendsen commented on #57
Bump. @sigrlami any progress on this? Again, do let us know if you'd like us to submit a patch.

[2022-01-24 16:20] sigrlami commented on #57
@runeksvendsen I'll let you know next couple of days, I have some time to work on this and do more testing.

[2022-01-24 16:21] #98 closed

[2022-01-30 11:50] danwdart opened #100 "Getting ambiguous occurrence `fail`?"
[code]

I'm not sure why this might suddenly be happening, since revision 49390582cb090fc1ef95988dab9ecc8ebb32251b.

Building on ghc 8.6.5

Thanks!

[2022-05-23 16:27] Shimuuar opened #101 "Tests fail since #99 was merged"
There were tests which specifically tested conversion between text and number and now they fail

[2022-05-23 16:56] Shimuuar opened #102 "RowParser parameter has nominal role"
This makes it impossible to use GND or deriving via to derive FromRow instances. This is rather annoying since there is no good reason for type variable to nominal.

Fixing this is possible but require some boilerplate

[2022-06-02 17:45] danwdart commented on #97
@sigrlami has explained that they are still interested and has a release schedule:

https://github.com/nurpax/sqlite-simple/issues/95#issuecomment-890938785

[2022-06-02 17:51] jchia commented on #97
@danwdart That was almost a year ago with no updates since.

[2022-06-02 19:25] danwdart commented on #97
Yeah, true, well I don't mind if you want to take it over or taking it over myself.

[2022-06-02 19:26] danwdart commented on #97
I think I'd better find another way to email first.

[2022-06-03 09:26] jchia commented on #101
The failing asserts are from the 4 lines here:
https://github.com/nurpax/sqlite-simple/blob/91900808c0986f8a9f142c2897847a9d1e67d349/test/Errors.hs#L75

[2022-07-09 23:59] thomasjm commented on #72
I'd welcome the shim solution! I'm having a problem with `blaze-textual` trying to bring in an `integer-gmp` dependency when I want to avoid GMP...

[2022-08-17 14:50] ad-si opened #104 "Also return column names when executing a query"
When I execute a query like `select * from users` it will return a `[[SQLData]]``, but I don't know the names of the columns.

This gets even more complicated with unusual queries like this:
[code]

Shouldn't there be a function which returns the results **and** the column names?

[2022-08-19 10:24] jchia commented on #104
That is a question about the sqlite client. Do you have a related function from the sqlite C API that you would like to see sqlite-simple or direct-sqlite support for?

[2022-08-25 11:50] #104 closed

[2022-08-25 11:51] jchia commented on #104
The sqlite client is not part of sqlite3-simple.

[2022-10-10 11:33] danwdart commented on #62
I've been using this locally, and I can make it a "pivot" package with only instances, if there's interest:

[code]